*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
}
.wrapper
{
    width: 80%;
    height: 175vh;
    border: 1px solid black;
    margin: 0 auto;
}

.main-head
{
 width: 100%;
 min-height: 20px;
 display: flex;
 justify-content: space-between;
}
.main-head .head-cname
{
    margin: 10px auto auto 10px;
}
h2
{
    font-size: 32px;
    color: blue;
}
.main-head .head-nav
{
    margin: 12px 100px auto auto;
}
.main-head .head-nav ul li
{
   display: inline;
   list-style-type: none;
   padding: 10px;
}
.main-head .head-nav ul li a
{
   text-decoration: none;
   font-size: large;
}
.main-head .head-nav ul li a:hover
{
   color: blue;
}

.body-content
{
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    display: flex;
   flex-direction: column;
}

.body-content p
{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
    color: blue;
}

.body-content h1
{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
}

input[type=button]
{
    background-color: blue;
    color: white;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-left: 50px;
}
.artical
{
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
   flex-direction: row;
}
.artical .image
{
    border:1px solid black;
    flex-basis: 48%;
    height: 48vh;
    margin: 2px auto 10px 20px;
}
.artical .art-right
{
    border:1px solid black;
    flex-basis: 48%;
    height: 48vh;
    margin: 2px auto 10px 10px;
}
.artical .art-right h5
{
   margin-top: 10px;
   margin-left: 10px;
   font-size: 15px;
}
.artical .art-right p
{
   margin-top: 10px;
   margin-left: 10px;
}
.artical .art-right ul li
{
   display: inline;
   margin-top: 20px;
   margin-left: 20px;
   color: blue;
   list-style-type: none;
   padding: 10px;
}
.artical .art-right ul li a
{
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
}
.artical .art-right ul li a:hover
{
    color: black;
}